<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Deezer Music Log</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">🎵 MusicLog</a>
        <div class="navbar-nav ms-auto">
            {% if current_user.is_authenticated %}
            <span class="navbar-text me-3 text-white">Bonjour, {{ current_user.username }}</span>
            <a class="nav-link" href="{{ url_for('search') }}">Rechercher</a>
            <a class="nav-link" href="{{ url_for('my_reviews') }}" >Mes Avis</a>

            {% if current_user.is_admin %}
            <a class="nav-link text-warning fw-bold" href="{{ url_for('admin_dashboard') }}">
                <i class="bi bi-shield-lock"></i> Dashboard
            </a>
            {% endif %}

            <a class="nav-link btn btn-outline-danger btn-sm ms-2" href="{{ url_for('logout') }}">Déconnexion</a>
            {% else %}
            <a class="nav-link" href="{{ url_for('login') }}">Connexion</a>
            <a class="nav-link" href="{{ url_for('register') }}">S'inscrire</a>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>
</body>
</html>